---
import PaletteActions from "@/components/PaletteActions.tsx";
import ContentLayout from "@/layouts/ContentLayout.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout>
  <ContentLayout>
    <div class="text-center mb-8">
      <h2 class="text-4xl font-semibold mb-4">Generador de Paletas</h2>
      <p class="text-lg text-gray-600 dark:text-gray-400">
        Toca el botón para descubrir tu próxima combinación de colores.
      </p>
    </div>

    <PaletteActions client:only="react" />
  </ContentLayout>
</Layout>
